body{
    background: antiquewhite;
}
h1{
    display: inline-block;
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    position: relative;
}
.main h1::after{
    content: "";
    position: absolute;
    top: 10px;
    left: 101%;
    right: 0;
    transform: translateX(50%);
    width: 3px;
    height: 70px;
    background-color: #242323;
    
}